body {
    font-family: system-ui, sans-serif;
    color: #ffffff;
    margin: 0rem;
    background-color: #121212;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.navigation-link.active {
    text-decoration-line: underline;
    text-decoration-color: #3defe9;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
    color: #00000;
}

.content {
    padding-inline: 2rem;
}

.footer {
    text-align: right;
    font-weight: 700;
    padding: 2rem;
}
