# build time
SENTRY_AUTH_TOKEN=sntrys_abc
SENTRY_ORG=bradgarropy
SENTRY_PROJECT=react-router-starter
VITE_SENTRY_DSN=https://ingest.us.sentry.io

# runtime (cloudflare worker)
SENTRY_DSN=https://ingest.us.sentry.io
